.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .name {
	margin-left: 0.2em;
	color: #0070f3;
}

.footer a:hover .name {
	text-decoration: underline;
}

.themeSwitch:hover {
	cursor: pointer;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

@media (max-width: 500px) {
	.title {
		font-size: 3rem;
	}
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.25rem;
	margin: 1rem 0 3rem 0;
	padding: 0 1rem 0 1rem;
}

.code {
	background-color: var(--code-bg);
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	color: var(--code-fg);
	margin: 3rem 1rem 0 1rem;
}

.list {
	padding: 0 1rem 0 1rem;
}

.service {
	border: 1px solid #e0e0e0;
	border-bottom: none;
	display: flex;
	align-items: center;
	padding: 1em;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service:last-child {
	border-bottom: 1px solid #e0e0e0;
	border-radius: 0 0 6px 6px;
}

.service:first-child {
	border-radius: 6px 6px 0 0;
}

.service:hover {
	color: var(--service-hover);
	border-bottom: 1px solid var(--service-hover);
	border-color: var(--service-hover);
}

.service:hover + .service {
	border-top: none;
}

.serviceName {
	margin-right: 3em;
}

.dotflashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #282c34;
	color: #282c34;
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}

.dotflashing::before,
.dotflashing::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dotflashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #282c34;
	color: #282c34;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 0s;
}

.dotflashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #282c34;
	color: #282c34;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 1s;
}

@media (max-width: 375px) {
	.title {
		font-size: 2rem;
	}
	.description {
		font-size: 1rem;
	}
	.code {
		font-size: 1rem;
	}
}

@keyframes dotFlashing {
	0% {
		background-color: #282c34;
	}
	50%,
	100% {
		background-color: #e0e0e0;
	}
}
